<main>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="./img/Nikes.webp" alt="Oferta 1">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="./img/Jordans.webp" alt="Oferta 2">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="./img/Adidas.webp" alt="Oferta 3">
        <div class="carousel-caption d-none d-md-block">
          
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>

  <a href="/Sneaker"><h2 class="m-5">
    Sneakers
  </h2></a>
  <hr>

  <div id="sneaker">
    {{#each sneakers as |sneaker|}}
    <div class="card">
      <img src="{{sneaker.imagePath}}" alt="{{sneaker.model}}">
      <div class="card-content">
        <h3>Modelo: {{sneaker.model}}</h3>
        <p>Marca: {{sneaker.brand}}</p>
        <p>Precio: ${{sneaker.price}}</p>
        <p class="availability">Disponible en stock</p>
      </div>
    </div>
  {{/each}}

  </div>
</main>