<main>
    <div> 
    <h2 class="m-4"> Sneakers </h2>
    {{!-- <a href="/SneakerCrud" class=" ms-3 btn btn-primary">Agregar Sneaker</a> --}}
    </div>
    <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
      <div class="card" id="filters-card">
        <div class="card-body">
          <h4 class="card-title">Filtros</h4>

          <!-- Filtro por genero(sexo) -->
          <div class="form-group genero">
            <label class="labelfiltro">Género</label>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterHombre">
              <label class="form-check-label" for="filterHombre">Hombre</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterMujer">
              <label class="form-check-label" for="filterMujer">Mujer</label>
            </div>
          </div>

          <!-- Filtro por material -->
          <div class="form-group material">
            <label class="labelfiltro">Material</label>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterCuero">
              <label class="form-check-label" for="filterCuero">Cuero</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterCueroSintetico">
              <label class="form-check-label" for="filterCueroSintetico">Cuero Sintético</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterPlastico">
              <label class="form-check-label" for="filterPlastico">Plástico</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterTela">
              <label class="form-check-label" for="filterTela">Tela</label>
            </div>
          </div>

          <!-- Filtro por marca -->
          <div class="form-group marca">
            <label class="labelfiltro">Marca</label>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterNike">
              <label class="form-check-label" for="filterNike">Nike</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterJordan">
              <label class="form-check-label" for="filterJordan">Jordan</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterAdidas">
              <label class="form-check-label" for="filterAdidas">Adidas</label>
            </div>
          </div>

          <!-- Boton de Aplicar -->
          <button class="btn btn-primary" onclick="">Aplicar Filtros</button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
    <div id="sneaker">
        {{#each sneakers as |sneaker|}}
    <div class="card">
      <img src="{{sneaker.imagePath}}" alt="{{sneaker.model}}">
      <div class="card-content">
        <h3>Modelo: {{sneaker.model}}</h3>
        <p>Marca: {{sneaker.brand}}</p>
        <p>Precio: ${{sneaker.price}}</p>
        <p class="availability">Disponible en stock</p>
      </div>
    </div>
  {{/each}}
    </div>
    </div>
  </div>
  </div>
</main>