<main>
  <div class="btn float-right mt-2">
    <a href="/Sneaker" class="btn btn-primary">Volver al catálogo</a>
    </div>

  <div class="container mt-3">
       <div class="row">
            <div class="col-md-6 order-md-1 d-flex justify-content-center align-items-center">
               <div class="thumbnailContainer">
                    <!-- Miniaturas de otras imágenes -->
                    {{!-- <img src="./img/Nikes.webp"  width="50px" height="50px" alt="Sneaker 1"   onclick="changeImage('./img/Nikes.webp')"  class="thumbnail">
                    <img src="./img/Nikes2.webp" width="50px" height="50px" alt="Thumbnail 1" onclick="changeImage('./img/Nikes2.webp')" class="thumbnail">
                    <img src="./img/Nikes3.webp" width="50px" height="50px" alt="Thumbnail 2" onclick="changeImage('./img/Nikes3.webp')" class="thumbnail">
                    <img src="./img/Nikes4.webp" width="50px" height="50px" alt="Thumbnail 3" onclick="changeImage('./img/Nikes4.webp')" class="thumbnail">
                    <img src="./img/Nikes5.webp" width="50px" height="50px" alt="Thumbnail 4" onclick="changeImage('./img/Nikes5.webp')" class="thumbnail"> --}}
                </div>  
                <img src="{{sneaker.imagePath}}" alt="{{sneaker.model}}" class="img-fluid">
                <input type="hidden" name="image" value="{{sneaker.imagePath}}">
            </div>
            <div class="col-md-6 order-md-2">
                <form action="/Cart" method="post">
                <input type="hidden" name="idSneaker" value="{{sneaker.id}}">
                <div class="sneakerDetails mt-lg-5">
                    <h2>{{sneaker.brand}} {{sneaker.model}}</h2>
                    <h5>Sneakers - {{sneaker.gender}}</h5>
                    <input type="hidden" value="{{sneaker.gender}}" name="gender">
                
                    <p><bold>${{sneaker.price}}</bold></p>
                    <input type="hidden" value="{{sneaker.price}}" name="price">
                    <section>
                        <h5>Tallas:</h5>
                        <input type="radio" class="btn-check" name="options_base" value="7" id="option7" autocomplete="off">
                        <label class="btn" for="option7">7</label>

                        <input type="radio" class="btn-check" name="options_base" value="8" id="option8" autocomplete="off">
                        <label class="btn" for="option8">8</label>

                        <input type="radio" class="btn-check" name="options_base" value="9" id="option9" autocomplete="off">
                        <label class="btn" for="option9">9</label>

                        <input type="radio" class="btn-check" name="options_base" value="10" id="option10" autocomplete="off">
                        <label class="btn" for="option10">10</label>

                        <input type="radio" class="btn-check" name="options_base" value="11" id="option11" autocomplete="off">
                        <label class="btn" for="option11">11</label>

                        <input type="radio" class="btn-check" name="options_base" value="12" id="option12" autocomplete="off">
                        <label class="btn" for="option12">12</label>
                    </section>
                    <section>
                        <h5 id="marca">Marca:</h5>
                        <p name="marcaP">{{sneaker.brand}}</p>
                        <input type="hidden" value="{{sneaker.brand}}" name="brand">
                    </section>
                    <section>
                        <h5 id="modelo">Modelo:</h5>
                        <p name="modeloP">{{sneaker.model}}</p>
                        <input type="hidden" value="{{sneaker.model}}" name="model">
                    </section>
                    <section>
                        <h5 id="material">Material:</h5>
                        <p name="materialP">{{sneaker.material}}</p>
                        <input type="hidden" value="{{sneaker.material}}" name="material">
                    </section>
                    <section>
                        <h5 id="disponibilidad">Disponibilidad:</h5>
                        <p name="disponibilidadP">En stock</p>
                    </section>
                    <section>
                        <h5 id="descripcion">Descripción:</h5>
                        <p name="descripcionP">{{sneaker.description}}</p>
                        <input type="hidden" value="{{sneaker.description}}" name="description">
                    </section>
                    <section>
                      <button type="submit" class="cartBtn btn-dark">Agregar al carrito</button>
                      </form>
                    </section>
                </div>
             </div>
         </div>
    </div>
</main>