<main>
    <div> 
    <h2 class="m-4"> Sneakers </h2>
    {{!-- <a href="/SneakerCrud" class=" ms-3 btn btn-primary">Agregar Sneaker</a> --}}
    </div>
    <hr>
    <div id="sneaker">
        {{#each sneakers as |sneaker|}}
    <div class="card">
      <img src="{{sneaker.imagePath}}" alt="{{sneaker.model}}">
      <div class="card-content">
        <h3>Modelo: {{sneaker.model}}</h3>
        <p>Marca: {{sneaker.brand}}</p>
        <p>Precio: ${{sneaker.price}}</p>
        <p class="availability">Disponible en stock</p>
      </div>
    </div>
  {{/each}}
    </div>
    </div>
</main>